<footer
   class="footer"
   style="
      background-color: #1d201f;
      bottom: 0;
      width: 100%;
      z-index: 100;
      margin-top: 2rem;
   "
>
   <div class="container-fluid">
      <ul class="nav">
         <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link">
               HYBRID CYPTOGRAHY ©
               <script>
                  document.write(new Date().getFullYear());
               </script>
            </a>
         </li>
      </ul>
      <div class="copyright">
         <i> brought to you by WrashTech </i>
      </div>
   </div>
</footer>
