<nav class="navbar navbar-expand-md mb-5" style="background-color: #1a1e34">
   <!-- Brand -->
   <div class="container-fluid">
      <!-- Toggler/collapsibe Button -->
      <button
         class="navbar-toggler"
         type="button"
         data-toggle="collapse"
         data-target="#collapsibleNavbar"
         aria-controls="navbarNavDropdown"
         aria-expanded="false"
         aria-label="Toggle navigation"
      >
         <span class="navbar-toggler-bar navbar-kebab"></span>
         <span class="navbar-toggler-bar navbar-kebab"></span>
         <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
         <span style="color: #ba45f5"
            ><i class="tim-icons icon-bank" style="font-weight: bold"></i
            >BANKING QUEUE</span
         >
         <ul class="navbar-nav">
            <li class="nav-item">
               <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/signup">Sign up</a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/">Home</a>
            </li>
         </ul>
      </div>
   </div>
</nav>
